.toolbar {
  display: flex;
  justify-content: space-between;
}
.toolbar-left {
  display: flex;
  align-items: center;
}
.drawer-link {
  color: #000;
  text-decoration: none;
}
.active {
  color: #1976d2;
}
.navlink {
  color: #fff;
  text-decoration: none;
}
