body {
  font-family: "Varela", sans-serif;
  margin: 0;
}
.main {
  background-color: #1976d2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  align-items: center;
  background-color: #f2f4ff;
  padding: 2rem 0;
  border-radius: 6px;
}
.card-head {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #1976d2;
}
.card-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.toggle-link {
  text-decoration: none;
}
